**/.git
**/.vs
**/.vscode
**/.idea
**/bin
**/obj
**/node_modules
**/.env
**/docker-compose.override.yml
**/README.md
**/.editorconfig
**/coverage
**/*.log
**/appsettings.Development.json
**/appsettings.*.local.json
**/.DS_Store
**/docs
